*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(180deg,#fff7f0,#ffdfc4);
    color: #333;
    padding: 5px;
    margin: 5px;
    font-family: sans-serif;
}
.top{
    background-color: rgb(253, 177, 12);
    padding: 20px;
}
.global-nav{
    background-color: #fff;
    min-width: 1240px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 2px 8px ;
    position: sticky;
    z-index: 10;
}
.imagebox{
    height: 75px;
    width: 75px;
    background-color: #e36e11;
}
.image{
    height: 75px;
    width: 75px;
    background-image: url("download.png");
    background-size: cover
}
ul{
    display: flex;
    cursor: pointer;
    
}
li{
    list-style: none;
    margin: 6vh;
    font-size: x-large;
    /* background-color: #fc8019; */
    border-radius: 5px;
    color: rgb(37, 34, 34);
    transition: 0.3s;
}
li:hover{
    width: 200px;
    background-color: #e36e11;
    border-radius: 10px;
    align-content: center;
    text-align: center;
    transform: scale(1.05);
}
.content{
    background-color: beige;
    padding: 25px;
}
.forcontent{
    width: auto;
    min-width: 1240px;
    height: 2000.100px;
    background-color: #fc8019;
}


h1{
    padding: 30px;
}
.food-card{
    display: flex;
    height: 300px;
    width: 250px;
    background-color: #fc8019;
    margin: 18px;
    padding: 25px;
    align-content: center;
    text-align: center;
}
.food-image{
    background-color: #f8f8f8;
    width: 250px;
    height: 250px;
    padding: 5px;
    border-radius: 10px;
    background-image: url("food1.jpg");
    background-size: cover;
    object-fit: cover;
    overflow: hidden;
    box-shadow: 0,2px,10px,rgba(0, 0, 0, 0.08);
    transition: 0.3s;
}

.written{
    margin-top: 190px;
}


.cart{
    height: 40px;
    width: 115px;
    background-color: yellow;
    color: darkblue;
    font-size: large;
    border-radius: 10px;
    box-shadow: 5px;
    transition: 3s;
    padding: 10px;
    margin: 23px;
}
button:hover{
    opacity: 0.7;
    transition: ease-in-out 0.2s;
}

.food-image:hover{
    transform: translateY(-5px);
    opacity: 0.8;
}


#resturants{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


h2{
    padding: 50px;
    font-size: x-large;
}
.place{
    color: rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 0.10);
    width: 300px;
    height: 50px;
    font-size: x-large;
    align-content: center;
    text-align-last: center;
    border-radius: 10px;
}

.places-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px; /* space between boxes */
  margin-top: 20px;
}

.restoconatiner{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px; /* space between boxes */
  margin-top: 20px;   
}
hr{
    border: 5px solid black;
}




footer{
    background-color: rgb(215, 215, 232);

}
#reconmentation-app{
    display: flex;
    justify-content: center;
    gap: 88px;
}
.playstore{
    background-color: black;
    width: 200px;
    align-content: center;
    text-align: center;
    border-radius: 30px;
    

}
    h3{color: white;}
    h5{color: white;}
.appshop{
    background-color: black;
    width: 200px;
    align-content: center;
    text-align: center;
    border-radius: 30px;
}

#last{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    margin: 40px;
    padding: 20px;
    background-color: #f8f8f8;
    color: #555;
}


.company{
    color: rgb(0, 0, 0);
    font-size: x-large;
    font-family: sans-serif;

}
.contactus{
    color: rgb(0, 0, 0);
    font-size: x-large;
    font-family: sans-serif;
}
.available-in{
    color: rgb(0, 0, 0);
    font-size: x-large;
    font-family: sans-serif;
}
.life-at-swiggy{
    color: rgb(0, 0, 0);
    font-size: x-large;
    font-family: sans-serif;
}
.lastcontent{
    margin: 15px;
    padding: 3px;
    font-size: x-large;
    font-style: inherit;
    font-family: emoji;
}



/*Media Query*/
@media(max-width:768px){
    #places, #restonear, #near-restu-top{
        grid-template-columns: 1fr 1fr;

    }
}





/* .food-card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  background-color: #ff6600; /* Swiggy orange 
  padding: 20px;
}

.food-image {
  width: 220px;
  border-radius: 15px;
  overflow: hidden;
  background: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
}

.fooditem:hover {
  transform: scale(1.05);
}

.fooditem img {
  width: 100%;
  height: 150px;
  object-fit: cover;
} 

.written {
  padding: 10px;
  text-align: left;
}

.about h3 {
  margin: 5px 0;
  font-size: 16px;
  color: #333;
}

.about h4,
.about h5 {
  margin: 0;
  color: gray;
  font-size: 14px;
}

.cart {
  background: #fc8019;
  color: white;
  border: none;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  font-weight: 600;
  border-top: 1px solid #eee;
} */
